body,
html {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #373e2c;
    align-items: center;
    padding: 5px 10px;
    border-radius: 5px;
    position: fixed;
    width: 100%;
}

.navbar a.logo {
    font-size: 30px;
    color: white;
    margin: 15px 5px;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

ul {
    display: flex;
    margin: 0;
}

ul li a {
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul li {
    list-style-type: none;
    font-size: 18px;
}

.background {
    background-image: url('https://images.unsplash.com/photo-1593062096033-9a26b09da705?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8b2ZmaWNlJTIwZGVza3xlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80');
    height: calc(100vh);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.home-content {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: capitalize;
}

.home-content .small {
    font-size: 18px;
    color: #373e2c;
}

.home-content .big {
    font-size: 50px;
    color: white;
}

.home-content .special {
    background-color: black;
    color: white;
    display: inline-block;
    padding: 10px;
}

.home-content a {
    background-color: #373e2c;
    color: white;
    padding: 20px 10px;
    text-decoration: none;
    display: inline-block;
}

.parent {
    text-align: right;
    padding-right: 10%;
    display: flex;
    align-items: center;
    justify-content: end;
    height: 100%;
}

.content {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.content p {
    text-align: justify;
}

.image {
    width: 300px;
    height: 500px;
    float: right;
    margin: 10px;
}

.image img {
    width: 100%;
    height: 100%;
}
form{
    width: 50%;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
}
form input{
    width: 100%;
    padding: 10px;
    border: none;outline: none;
    border-bottom: 1px dashed black;
    
}
form .inputs{
    margin:10px;

}
form label{
    margin:10px 0;

}